html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: #000330 !important;
    background: linear-gradient(300deg, rgba(3, 10, 33) 0%, rgba(24, 41, 112, 1) 100%) !important;
}

ui-block-color{
    
}